%h1
  make a *miao
%p
  Get the Nuss! Trag dich für unseren unberechenbaren
  %a{:href => "/nussletter"} Rundmailservice
  ein!
%br
%p
  CodeCats&Mitmuschis: heart at heartofcode dot org
  %br/
  Workshops&Projekte: code at heartofcode dot org
  %br/
  Presse&Sonstige: hello at heartofcode dot org
  %br/
  PGP: 0xA7B7CFAC
  %br/
%p
  Kooperationspartner, Spendenwillige, Fördermitglieder und Fundingsternchen:
  %br>/
  Meldet euch
  %a{:href => "mailto:hello[@]heartofcode[.]org"} per Mail!
%p
  Twitter:
  %a{:href => "https://twitter.com/heartofcode"} @heartofcode
  %br
  GitHub:
  %a{:href => "https://github.com/heartsofcode"} heartsofcode
%p
%p
IRL: Skalitzer Str. 100, 10997 Berlin-Kreuzberg
%br/
Offenes Ohr unter: +49 (0)177 321 0589
%br
%br
%p
  %b
    %a{:href => "https://www.openstreetmap.org/node/5051931215"} Schatzkarte
%p
  Pssst: wenn die große Einganstür nicht eh aufsteht, dann bei ttt klingeln.
  %br
  Wie auf der Schatzkarte skizziert in den 2. Hof bis zum Ende durch. Seht ihr Licht im Baumschiff?
  %br
  Dann die fest montierte Leiter hochkraxeln... da!
%p

  %br/
  = link_to image_tag("10-fertig-01.jpg", alt: "Baumschiff")
%br/
%p
  %a{:href => "/imprint"} Impressum
