%h1.spacer-m
  Heart of Code

%p.spacer-m
  \”The Heart of Code's Improbability Drive made it the most powerful and
  unpredictable ship in existence. There was nothing it couldn't do,
  provided you knew exactly how improbable it was that the thing you
  wanted it to do would ever happen.”
