.center.jumbotron
- provide(:title, "<3")
%h1 Hoc on Rails
%h2
  This is the home page for the
  %a{:href => "http://heartofcode.org/"} Heart of Code
  sample application.
%a.btn.btn-lg.btn-primary{:href => "#"} Sign up now!
= link_to image_tag("heartofcode42.jpg", alt: "HoC logo"), |
  'http://heartofcode.org/'                          |
%p
This is the home page for the Heart of Code and you find the code
%a{:href => "https://www.github.com/heartsofcode/hoc_home"} here
\.

%a{:href => "#"}
Inbox
%span.badge 42
