%h1.spacer-m
  make a *miao
%p.spacer-s
  Get the Nuss! Trag dich für unseren unberechenbaren
  %a{href: "/nussletter"} Rundmailservice
  ein!

%p.spacer-s
  Neugierige, Mitmachfreudige, Geheimniskrämer*innen, Spendenwillige, Fördermitglieder und Fundingsternchen:
  %br>/
  Meldet euch
  %a{href: "mailto:hello[@]heartofcode[.]org"} per Mail!
  %br/
  PGP: 0xA7B7CFAC
%p
  Twitter:
  %a{href: "https://twitter.com/heartofcode"} @heartofcode
  %br
  GitHub:
  %a{href: "https://github.com/heartsofcode"} heartsofcode

%p.spacer-m
  IRL: 
  %br/
  Mariannenplatz 2 A, 10997 Berlin-Kreuzberg
  %br/
  am Marielle-Franco-Platz
  %br/
  Offenes Ohr unter: Tel. kommt bald wieder.

%h2.spacer-s
  %a{href: "https://www.openstreetmap.org/?mlat=52.50353&amp;mlon=13.42382#map=19/52.50353/13.42382"} Schatzkarte
  %br
  %br
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=13.421873152256014%2C52.502658263518896%2C13.425756990909578%2C52.50433830715214&amp;layer=mapnik&amp;marker=52.503497477013845%2C13.423815071582794" style="border: 1px solid black"></iframe><br/>
%p
  Pssst: Die Einganstür ist im Erdgeschoss des Südflügels vom Bethanien (Eingang Heilpraktikschule). Unser Raum ist im ersten Stock, ganz am Ende des Ganges auf der rechten Seite.
  %br
  Meldet euch am besten bevor ihr kommt, sodass wir gucken können, dass alle Türen offen sind.
  %br
  Ein Zugang für mobilitätseingeschränkte Besucher*innen ist über den Osteingang des Bethanien mit Fahrstuhl möglich. Bitte meldet euch vorher, dann helfen wir.
%p
  
  %br/
  = link_to image_tag("marielle-franco.jpg", id:"Eingang", alt: "Heart of Code Eingang", style: 'width:70%')
%br/
%p
  %a{href: "/impressum"} Impressum
