%h1.spacer-m
  make a *miao
%p.spacer-s
  Get the Nuss! Trag dich für unseren unberechenbaren
  %a{href: "/nussletter"} Rundmailservice
  ein!

%p.spacer-s
  Neugierige, Mitmachfreudige, Geheimniskrämer*innen, Spendenwillige, Fördermitglieder und Fundingsternchen:
  %br>/
  Meldet euch
  %a{href: "mailto:hello[@]heartofcode[.]org"} per Mail!
  %br/
  PGP: 0xA7B7CFAC
%p
  Twitter:
  %a{href: "https://twitter.com/heartofcode"} @heartofcode
  %br
  GitHub:
  %a{href: "https://github.com/heartsofcode"} heartsofcode

%p.spacer-m
  IRL: Mariannenplatz 2 A, 10997 Berlin-Kreuzberg
  %br/
  Offenes Ohr unter: Tel. kommt bald wieder.

%h2.spacer-s
  %a{href: "https://www.openstreetmap.org/node/5051931215"} Schatzkarte
%p
  Pssst: Die Einganstür ist im Erdgeschoss des Südflügels vom Bethanien (Eingang Heilpraktikschule). Unser Raum ist im ersten Stock, ganz am Ende des Ganges auf der rechten Seite.
  %br
  Meldet euch am besten bevor ihr kommt, sodass wir gucken können, dass alle Türen offen sind.
  %br
  Ein Zugang für mobilitätseingeschränkte Besucher*innen ist über den Osteingang des Bethanien mit Fahrstuhl möglich. Bitte meldet euch vorher, dann helfen wir.
%p

  %br/
  = link_to image_tag("10-fertig-01.jpg", alt: "Baumschiff")
%br/
%p
  %a{href: "/impressum"} Impressum
