%h1
  Rudel mit uns!
%p
  Am 23.05.2017 ist die Heart of Code im eigenen Baumschiff abgehoben!
%p
  Wir treffen uns jeden Donnerstag zu unserem offenen Abend, dem Damensalon in der Heart of Code.
  Kommt vorbei zum hacken, hängen, futtern, beschnuppern, und weiterem gediegenen Kulturprogramm
  für die
  %a{:href => "https://www.youtube.com/watch?v=aP_4JrcB9vo"}
    Dame
  von Hello World. Mob-Coding, Quelltextlesungen, Lötspaß!
  Wer ihren Code vorstellen möchte, oder ein lehreiches Vulva Comic, etwas auf dem Theremin zum
  besten geben, trashige Hacker-Filme aus den 80ern empfehlen, oder einfach mit Gleichgesinnten
  abnerden möchte, kommt lang.
%p
  Weiterhin gibt es verschiedene offene Lern- und Arbeitsgruppen zB. zu den Themen Python,
  Datenvisualizierung, Drohnen 3D Druck, 3D Druck generell, IT Sicherheit, Zyklus Tracking App,
  Java, Hardware & Blinkendes.
%p
  Die Heart of Code ist ein gemeinnütziger Verein. Mit diesem
  %a{:href => "/mitgliedsformular"}
    Formular
  könnt ihr Fördermitglied werden,
  und
  %a{:href => "/satzung"}
    hier
  findet ihr unsere Satzung. Yay!
%p
  Für mehr aktuelle Nuss abonniert unseren
  %a{:href => "/nussletter"}
    Newsletter
  , folgt uns auf
  %a{:href => "https://twitter.com/heartofcode"}
    Twittatwatta
  oder schaut in
  unseren
  %a{:href => "/events"}
    Kalender
  , um auf dem Laufenden zu bleiben.
%p
  Macht mit, mit macht, wir freuen uns darauf, euch kennenzulernen!
