%h1.spacer-m
  Nussletter


#mc_embed_signup
  %form#mc-embedded-subscribe-form.validate{:action => "//endlessboredom.us12.list-manage.com/subscribe/post?u=1e56e91157a293e5a76b1fe6e&id=ca21f8bb16", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
    #mc_embed_signup_scroll
      %input#mce-EMAIL.email.spacer-s{:name => "EMAIL", :placeholder => "Email Adresse", :required => "", :type => "email", :value => ""}/
      / real people should not fill this in and expect good things - do not remove this or risk form bot signups
      %div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
        %input{:name => "b_1e56e91157a293e5a76b1fe6e_ca21f8bb16", :tabindex => "-1", :type => "text", :value => ""}/
      %div
        %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Let's Löt!"}/
/ End mc_embed_signup
