/*adventskalender*/

.advent-container {
  display: flex;
  grid-row-gap: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.advent-container .item {
  position: relative;
  color: rgba(228, 38, 38, 0.7);
  border-color:  rgba(228, 38, 38, 0.7);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s;
  background-color: 0.2s;
  border-color: 0.2s;
  margin: 20px;
  width: 300px;
  height: 300px;
}

.advent-container .item img {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.2;

}

.advent-container .item .text {
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  padding: 20px;
  text-transform: uppercase;
  text-align: left;
  word-break: break-all;
}

.advent-container .item .title {
  font-size: 50px;
}
.advent-btn:hover {
  color: rgba(228, 228, 38, 0.8);
  border-color: rgba(255, 255, 255, 0.3);
}
.advent-btn + .advent-btn {
  margin-left: 1rem;
}
@media screen and (min-width: 64em) {
  .advent-btn {
    }
  }
@media screen and (min-width: 42em) and (max-width: 64em) {
  .advent-btn {
  }
}
@media screen and (max-width: 42em) {
  .advent-btn {
    display: inline; padding: 0.5rem;
  }
  .advent-btn + .advent-btn {
    margin-top: 1rem; margin-left: 1rem;
    }
  }
