/*kalender*/

.calendar-heading {
  font-size: 2em;
  }

.calendar-navigation {
  font-size: 1em;
  font-weight: bold;
}


#eventlist { list-style:none; }
#eventlist li { list-style:none; padding:3px; border-bottom:2px solid #eee;}
.eventtitle {
  font-size: 2em;
}

.calendar-heading a {
  color: #de1818;
}

a:hover {
 color: #c8c8c8;
 text-decoration: none;
}

.blog-bild {
  height: 200px;
}


.pagination li > a {
  color: #de1818;
}
