/*kalender*/

.calendar {

}

.calendar-heading {
  font-size: 36px;
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 5rem;
}

@media (max-width: 768px) {
  .calendar-heading {
    font-size: 26px;
    margin-bottom: 1rem;
  }
}
.calendar-navigation {
  font-size: 1em;
  font-weight: bold;
}


#eventlist { list-style:none; }
#eventlist li { list-style:none; padding:3px; border-bottom:2px solid #eee;}
.eventtitle {
  font-size: 2em;
}

.calendar-heading a {
  color: #de1818;
}

.blog-bild {
  height: 200px;
}


.pagination li > a {
  color: #de1818;
}

.calendar-navigation,
.calendar-others {
  text-align: center;
}

.calender-list {
  list-style: none;
  font-size: 2.5rem;
  padding: 0;
  text-align: center;
}
