/*kalender*/

.calendar-heading {
  font-size: 36px;
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 5rem;
}

@media (max-width: 768px) {
  .calendar-heading {
    font-size: 26px;
    margin-bottom: 1rem;
  }
}
.calendar-navigation {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.a {
  color: #de1818;
}

.calendar-others {
  text-align: center;
}

.calender-list {
  list-style: none;
  font-size: 2.5rem;
  padding: 0;
  text-align: center;
}

// when screen is big
@media screen and (min-width:901px), screen and (min-height:501px) {
  .big {
    display: block; 
  }
  .smol {
    display: none; 
  }
}

// when screen is smol
@media screen and (max-width:900px), screen and (max-height:500px) {
  .smol {
    display: block;
    text-align: center;
  }
  .fine {
    color: grey;
  }
  .big {
    display: none;
  }
}

