form {
  max-width: 450px;
  margin: auto;


  input[type=submit],
  button {
    //  max-width: 150px;
    margin: auto;
    border: 1px #cf0000 solid;
    background-color: white;
    &:hover,
    &:active {
      background-color: #cf0000;
      color: white;
    }
  }

}

label {
  font-weight: 400;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: .6em .4em;
  line-height: 1;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  border: 1px solid #aaa;
  border-radius: 2px;
}
