body { padding-top: 5px;
   /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.menue {
 background-color: white;
 font-family: 'Josefin Sans', sans-serif;
 border-bottom: none;
 text-align: center;
}

.col-lg-12 {
  padding: 50px 0px 0px;
}

iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p > a,
h3 > a {
  box-shadow: 0 -2px 0 #c8c8c8 inset;
  color: inherit;
}

p > a:hover {
 color: #c8c8c8;
 text-decoration: none;
}


#logo {
 height: 120px;
 margin: 10px;
}

.content h1{
 font-weight: 350;
 border-top: 1px #CCCCCC solid;
 border-bottom: 1px #CCCCCC solid;
 padding: 12px;
}

h2, h3, h4, h5 {
 font-family: 'Josefin Sans' , sans-serif;
 font-weight: 300;
}

.center-text > p, b, h2 {
  text-align: center;
}

.justify{
 text-align: justify;
}

.imgblock > img {
 display: inline;
 max-height: 150px;
}

.content-main-wrapper{
 margin-bottom: 80px;
}

.content {
 font-family: 'Josefin Sans' , sans-serif;
 font-weight: 300;
 font-size: 1.2em;
 text-align: center;
}


/*images*/
.workshop-block{
  width: 90%;
  margin-top: 10px;
  margin-bottom:10px;
}

.add-startpage{
  width: 50%;
  margin-top: 10px;
  margin-bottom: 50px;
}
