body {
  margin: 0;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  line-height: 1.8;
  font-weight: 300;
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow-x: hidden;
  padding: 0 1em;
  main {
    flex-grow: 1;
  }
}

h2, h3, h4, h5 {
  font-weight: 300;
}

p {
  margin-bottom: 2em;
  text-align: left;
}

b, strong {
  font-weight: 500;
}

a {
  padding: 0 .2em;
  border-radius: 2px;
  border-bottom: 1px solid #cf0000;
  text-decoration: none;
  &:hover,
  &:active {
    background-color: #cf0000;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
  }
}

button {
  border: none;
  border-radius: 2px;
  font-weight: 400;
}

iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.content h1{
  text-align: center;
  font-weight: 350;
  border-top: 1px #CCCCCC solid;
  border-bottom: 1px #CCCCCC solid;
  padding: 12px;
}

.center-text > p, h2 {
  text-align: center;
}

.justify{
  text-align: justify;
}

.imgblock > img {
  display: inline;
  max-height: 150px;
}

/*images*/
.workshop-block{
  width: 90%;
  margin-top: 10px;
  margin-bottom:10px;
}

.add-startpage{
  width: 50%;
  margin-top: 10px;
  margin-bottom: 50px;
}

.spacer-s {
  margin-bottom: 5rem;
}

.spacer-m {
  margin-bottom: 10rem;
}

.blank-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.alert {
  display: flex;
  justify-content: space-between;
  span {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  h1, .h1 {
    font-size: 26px;
  }
  body {
    font-size: 18px;
  }
  p, .spacer-s, .spacer-m {
    margin-bottom: 1rem;
  }
}
