.logo {
  border: none !important;
  background: none !important;
  img {
    width: 90px;
    height: 90px;
    margin-top: .5em;
    transition: transform 200ms ease;
  }
  &:hover img,
  &:active img {
    transform: scale(1.1);
  }
}
