.navigation {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.navbar-toggle {
  border: 1px solid #cf0000;
  transition: all 100ms ease-out;
  &:hover,
  &:active {
    background-color: #cf0000;
    color: white;
  }
}

.navigation {
  a {
    //font-weight: 400;
    border-bottom: none;
    &:hover,
    &:active {
      color: #cf0000;
      background: none;
    }
  }
  li {
    margin: 0 .7em;
    text-align: center;
    > a:hover,
    > a:active {
      background: none !important;
    }
  }
}

// f**k overwriting bootstrap
.navbar-collapse.navigation {
  @media screen and (min-width: 768px) {
    display: flex !important;
    justify-content: center;
    margin: 1rem 0 2rem;
  }
}
