%h1
  Kalender hier Kalender da


%thead
  %tbody
    - @calendars.each do |calendar|
      %tr
      %h3
        %td= link_to calendar.name, calendar
        %br

%br

= link_to 'New Calendar', new_calendar_path
