%h1
  Kalender hier Kalender da


%thead
  %tbody
    - Calendar.all.each do |calendar|
      %tr
      %h3
        %td= link_to calendar.name, calendar
        %br

%br

- if user_signed_in?
  = link_to 'New Calendar', new_calendar_path
