%h1.spacer-m
  Kalender hier Kalender da


%ul.spacer-m.calender-list
  - Calendar.all.each do |calendar|
    %li
      = link_to calendar.name, calendar

- if user_signed_in?
  = link_to 'New Calendar', new_calendar_path
