.col-sm-12.footer-wrapper
  %p
    Follow us on Twitter
    %a{href: "https://twitter.com/heartofcode", :title => "Heart of Code on Twitter"} @heartofcode
    ðŸ¦  |  Contribute on Github to
    %a{href: "https://github.com/heartsofcode/hoc_home", :title => "Heart of Code code on GitHub"} our Code
    ðŸ’»
  %p
    Â© 2018 Heart of Code e.V.
