%header
  %nav.nav
    .navbar-header
      %button.navbar-toggle{"data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only toggle menu
        %span ðŸ”
    / Collection of nav links and other content for toggling
    #navbarCollapse.collapse.navbar-collapse
      %ul.navigation
        %li
          %a{href: "/about"} about
        %li
          %a{href: "/calendars/1"} kalender

        %li
          %a.logo{href: "/", :title => "Heart of Code Startseite"}
            = image_tag "heartofcode42.jpg", id:"logo", alt: "Heart of Code Logo"
        %li
          %a{href: "/blogposts"} blog
        %li
          %a{href: "/kontakt"} kontakt
